*{
    box-size:border-box;
    padding: 0em;

}



.picture {
    background-color: black;
    height: 200px;
    width: 15%;
    margin-left: 2em;
    margin-top: 2em;
    padding: 1em 1em 0em 1em;
    color:white;
    font-weight: bold;
}


.nav {
    background-color: black;
    height: 500px;
    width:15%;
    margin-left: 2em;
    margin-bottom: 1em;
    padding: 1em;
}